In [120]:
import pandas as pd
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [121]:
data_class = pd.read_csv("./datasets/class.csv")
data_zoo = pd.read_csv("./datasets/zoo.csv")

In [122]:
data_class

,Class_Number,Number_Of_Animal_Species_In_Class,Class_Type,Animal_Names
0,1,41,Mammal,"aardvark, antelope, bear, boar, buffalo, calf,..."
1,2,20,Bird,"chicken, crow, dove, duck, flamingo, gull, haw..."
2,3,5,Reptile,"pitviper, seasnake, slowworm, tortoise, tuatara"
3,4,13,Fish,"bass, carp, catfish, chub, dogfish, haddock, h..."
4,5,4,Amphibian,"frog, frog, newt, toad"
5,6,8,Bug,"flea, gnat, honeybee, housefly, ladybird, moth..."
6,7,10,Invertebrate,"clam, crab, crayfish, lobster, octopus, scorpi..."

In [123]:
data_zoo.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [124]:
data_class["Animal_Names"].unique()

array(['aardvark, antelope, bear, boar, buffalo, calf, cavy, cheetah, deer, dolphin, elephant, fruitbat, giraffe, girl, goat, gorilla, hamster, hare, leopard, lion, lynx, mink, mole, mongoose, opossum, oryx, platypus, polecat, pony, porpoise, puma, pussycat, raccoon, reindeer, seal, sealion, squirrel, vampire, vole, wallaby, wolf',
       'chicken, crow, dove, duck, flamingo, gull, hawk, kiwi, lark, ostrich, parakeet, penguin, pheasant, rhea, skimmer, skua, sparrow, swan, vulture, wren',
       'pitviper, seasnake, slowworm, tortoise, tuatara',
       'bass, carp, catfish, chub, dogfish, haddock, herring, pike, piranha, seahorse, sole, stingray, tuna',
       'frog, frog, newt, toad',
       'flea, gnat, honeybee, housefly, ladybird, moth, termite, wasp',
       'clam, crab, crayfish, lobster, octopus, scorpion, seawasp, slug, starfish, worm'],
      dtype=object)

In [125]:
X = data_zoo.iloc[:, 1:17].values
y = data_zoo.iloc[:, 17].values

### Dividimos los datos en entrenamiento y prueba

In [126]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

svc = SVC()

Entrenamos el modelo

In [127]:
svc.fit(X_train, y_train)

SVC()

In [128]:
y_pred = svc.predict(X_test)

In [129]:
accuracy = accuracy_score(y_test, y_pred)
print("Exactitud del modelo:", accuracy)

Exactitud del modelo: 0.9523809523809523

In [130]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred, average='weighted')
recall = recall_score(y_test, y_pred, average='weighted')
f1 = f1_score(y_test, y_pred, average='weighted')

print("Exactitud:", accuracy)
print("Precisión:", precision)
print("Exhaustividad:", recall)
print("F1-score:", f1)

Exactitud: 0.9523809523809523
Precisión: 0.9206349206349207
Exhaustividad: 0.9523809523809523
F1-score: 0.9333333333333333

c:\Users\Lucho Gonzalez\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

### Pruebas

Introducimos caracteristicas de un León

In [140]:
nuevo_animal = pd.DataFrame({
    'hair': [1],
    'feathers': [0],
    'eggs': [0],
    'milk': [1],
    'airborne': [0],
    'aquatic': [1],
    'predator': [1],
    'toothed': [1],
    'backbone': [1],
    'breathes': [1],
    'venomous': [0],
    'fins': [0],
    'legs': [4],
    'tail': [1],
    'domestic': [0],
    'catsize': [1],
})

In [141]:
prediccion = svc.predict(nuevo_animal)
print(prediccion)

[1]

c:\Users\Lucho Gonzalez\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:432: UserWarning: X has feature names, but SVC was fitted without feature names
  warnings.warn(

Devuelve [1] lo cual es un mamifero. Esta en lo cierto